@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

html {
    background-color: LightGray;
    font-family: fontawesome;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    padding: 0 5px;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
    width: 100%;
    height: 44px;
    background-image: url(./img/bg_header.png);
    background-repeat: repeat-x;
    background-color: Black;
    color: White;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1.7em;
}

#main_frame {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 800px;
    background-color: White;
    margin: auto;
    border: 1px solid DarkGray;
}

#connection_indicator_frame {
    height: 50px;
    background-color: #eee;
}

/* --------------------------------------- Common classes ------------------------------------- */
.control_frame {
    width: 300px;
    background-color: #eee;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.monitor_frame {
    position: absolute;
    top: 125px;
    left: 370px;
    width: 370px;
    background-color: #eee;
    text-align: center;
    margin: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.monitor_frame_header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 370px;
    background-color: #ddd;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb;
}

.monitor_frame_table {
    position: relative;
    background-color: #bbb;
    width: 370px;
    font-size: 12px;
    text-align: left;
    line-height: 1.5em;
}

table.monitor_frame_table th {
    width: 175px;
    background-color: #ddd;
    font-style: italic;
    font-weight: normal;
    padding-top: 3px;
    padding-left: 7px;
    padding-bottom: 3px;
}

table.monitor_frame_table td {
    width: 175px;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.tab_divide_table {
    width: 760px;
    background-color: #eee;
}

table.tab_divide_table th {
    font-size: 13px;
    font-variant: small-caps;
}

table.tab_divide_table td {
    width: 370px;
    background-color: White;
    font-size: 12px;
    line-height: 1.7em;
}

/* --------------------------------------- TAB0 : Frobit (mr : mobile robot)------------------------------------- */
#mr_manual_control_frame {
    height: 285px;
}

#joystick_container {
    position: relative;
    z-index: 100;
}

#fake_joystick {
    visibility: hidden;
    position: relative;
    top: 110px;
    left: 145px;
    width: 10px;
    height: 10px;
}

/* --------------------------------------- TAB1 : Workcell (wc : work cell)------------------------------------- */

#wc_mc_table {
    position: relative;
    top: 15px;
    width: 300px;
    background-color: White;
    margin-bottom: 15px;
    border-radius: 10px;
}

table#wc_mc_table th {
    width: 100px;
    font-size: 11px;
}

.wc_mc_table_button {
    width: 40px;
}

.wc_mc_table_value {
    width: 30px;
    font-size: 9px;
}

.wc_mc_table_slider {
    width: 80px;
    border: 1px solid Red;
}

/* --------------------------------------- TAB2 : Tipper (tipper) ------------------------------------- */

#tipper_control_table {
    width: 300px;
    margin-top: 10px;
}

#tipper_img {
    width: 200px;
    height: 266px;
    margin-top: 40px;
    border: 1px solid Black;
    border-radius: 5px;
}

#tipper_manual_frame {
    width: 80px;
    text-align: center;
    vertical-align: top;
}

#tipper_slider {
    width: 10px;
}

.tipper_button {
    width: 70px;
    height: 30px;
    margin: 5px;
}

/* --------------------------------------- TAB3 : Belt (belt) ------------------------------------- */
#belt_on_off_switch {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid DarkBlue;
}

#belt_img {
    width: 200px;
    height: 250px;
    margin-top: 10px;
    border: 1px solid Black;
    border-radius: 5px;
}

/* --------------------------------------- TAB4 : Cameras (cam) ------------------------------------- */
#cam_mr_img {
    width: 370px;
    font-size: 10px;
    font-variant: italic;
    border: 1px solid Black;
}

#cam_wc_img {
    width: 370px;
    font-size: 10px;
    font-variant: italic;
    border: 1px solid Black;
}

/* --------------------------------------- TAB6 : MES (mes) ----------------------------------------- */
.mes_rb_div {
    clear: both;
    margin: 0 30px;
}

.mes_rb_label {
    width: 200px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #D1D3D4
}

.mes_rb_intspan {
    width: 10px;
    font-size: 70%;
    color: DarkGray;
    float: right;
}

#mes_mr_next_mission_div {
    position: relative;
    top: 20px;
    left: 20px;
    width: 300px;
    background-color: LightYellow;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 7px;
}

/* --------------------- Console ----------------- */
#console_frame {
    background-color: #eee;
    text-align: center;
    border-top: 1px solid #ccc;
}

#textarea_console {
    background-color: transparent;
    font-size: 13px;
    font-family: Courier;
    text-align: left;
    line-height: 1.3em;
    margin: 5px;
    border: 0px;
}