/* Main control line : systems ready? (Might be written better : TODO) */
.onoffswitch {
    position: relative;
    width: 110px;
    float: left;
    margin: 10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: help;
    border: 2px solid DarkGreen; border-radius: 5px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    padding-left: 13px;
    background-color: #31D613; color: #000000;
}
.onoffswitch-inner:after {
    padding-right: 13px;
    background-color: #ccc; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 7.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 80px;
    border: 2px solid #999999; border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#inner_onoff_mes:before {
    content: "MES";
}

#inner_onoff_mes:after {
    content: "MES";
}

#inner_onoff_frobit:before {
    content: "Frobit";
}

#inner_onoff_frobit:after {
    content: "Frobit";
}

#inner_onoff_frobit_sim:before {
    content: "Frobit-sim";
}

#inner_onoff_frobit_sim:after {
    content: "Frobit-sim";
}

#inner_onoff_kuka:before {
    content: "Kuka";
}

#inner_onoff_kuka:after {
    content: "Kuka";
}

#inner_onoff_kuka_sim:before {
    content: "Kuka-sim";
}

#inner_onoff_kuka_sim:after {
    content: "Kuka-sim";
}

/* Auto-manual control switch */
.automanualswitch {
    position: relative;
    margin-left: 70px;
    width: 160px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.automanualswitch-checkbox {
    display: none;
}
.automanualswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #aaa; border-radius: 8px;
}
.automanualswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.automanualswitch-inner:before, .automanualswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.automanualswitch-inner:before {
    content: "AUTOMODE";
    padding-left: 10px;
    background-color: #339CFF; color: #000000;
}
.automanualswitch-inner:after {
    content: "MANUAL Control";
    padding-right: 10px;
    background-color: #ddd; color: #000000;
    text-align: right;
}
.automanualswitch-switch {
    display: block; width: 10px; margin: 10px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 126px;
    border: 2px solid #000000; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.automanualswitch-checkbox:checked + .automanualswitch-label .automanualswitch-inner {
    margin-left: 0;
}
.automanualswitch-checkbox:checked + .automanualswitch-label .automanualswitch-switch {
    right: 0px;
}