@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

html {
    background-color: LightGray;
    font-family: fontawesome;
}

#header {
    position: absolute;
	top: 0px;
	left: 0px;
	z-index: 30;
	width: 100%;
	height: 44px;
    background-image: url(./img/bg_header.png);
	background-repeat: repeat-x;
	background-color: Black;
    color: White;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1.7em;
}

#ui_frame {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	z-index: 100;
	width: 800px;
	background-color: White;
	margin: auto;
	border: 1px solid DarkGray;
}

#main_control_line {
    height: 50px;
    background-color: #eee;
}

#console_frame {
    background-color: #eee;
    text-align: center;
    border-top: 1px solid #ccc;
}

#textarea_console {
    background-color: transparent;
    font-size: 13px;
    font-family: Courier;
    text-align: left;
    line-height: 1.3em;
    margin: 5px;
    border: 0px;
}

/* Tabs */
.tabs_sections {
  display: none;
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.tabs_inputs {
  display: none;
}

.tabs_labels {
  display: inline-block;
  color: #555;
  text-align: center;
  padding: 15px 25px;
  border: 1px solid transparent;
}

.tabs_labels:hover {
  color: DarkBlue;
  cursor: pointer;
}

.tabs_inputs:checked + .tabs_labels {
  color: Black;
  border: 0px solid #ddd;
  border-top: 3px solid DarkBlue;
  border-bottom: 1px solid #fff;
}

#input_tab1:checked ~ #tabs_content1,
#input_tab2:checked ~ #tabs_content2,
#input_tab3:checked ~ #tabs_content3,
#input_tab4:checked ~ #tabs_content4,
#input_tab5:checked ~ #tabs_content5 {
  display: block;
}

#tabs_content1 {
    text-align: center;
}

#net_monitor_frame_table {
    position: relative;
    top: 0px;
    left: 150px;
    background-color: #bbb;
    width: 500px;
    font-size: 12px;
    text-align: left;
    line-height: 1.5em;
}

#tabs_content2 {
    text-align: center;
}

#mr_manual_control_frame {
    width: 300px;
    height: 285px;
    background-color: #eee;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

#joystick_container {
    position: relative;
    z-index: 100;
}

#mc_speed_label_span {
    position: relative;
    top: 20px;
    left: -35px;
    font-size: 13px;
    font-style: italic;
}

#mc_speed_range {
    position: relative;
    top: 30px;
    left: -10px;
}

#mc_speed_value_span {
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}

#fake_joystick {
    visibility: hidden;
    position: relative;
    top: 110px;
    left: 145px;
    width: 10px;
    height: 10px;
}

#mr_monitor_frame {
    position: absolute;
    top: 125px;
    left: 370px;
    width: 370px;
    height: 285px;
    background-color: #eee;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

#mr_monitor_frame_header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 370px;
    background-color: #ddd;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #bbb;
}

#mr_monitor_frame_table {
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: #bbb;
    width: 350px;
    font-size: 12px;
    text-align: left;
    line-height: 1.5em;
}

.monitor_frame_content_td1 {
    width: 175px;
    background-color: #ddd;
    font-style: italic;
    padding: 3px;
}

.monitor_frame_content_td2 {
    width: 175px;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

#wc_monitor_frame {
    position: relative;
    left: 370px;
    width: 370px;
    background-color: #eee;
    text-align: center;
    border: 1px solid Black;
}

#wc_monitor_frame_header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 370px;
    background-color: #ddd;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#wc_monitor_frame_table {
    position: relative;
    top: 0px;
    left: 10px;
    background-color: #bbb;
    width: 350px;
    font-size: 12px;
    text-align: left;
    line-height: 1.5em;
}

#wc_monitor_usbcam_img {
    position: relative;
    width: 370px;
    font-size: 10px;
    font-variant: italic;
    border-top: 1px solid Black;
    border-bottom: 1px solid Black;
}

#mr_monitor_usbcam_img {
    position: absolute;
    top: 180px;
    left: 5px;
    width: 370px;
    font-size: 10px;
    font-variant: italic;
    border: 1px solid Black;
}