/* --------------------------------- Tabs -------------------------------------------------------------- */
.tabs_sections {
  display: none;
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.tabs_inputs {
  display: none;
}

.tabs_labels {
  display: inline-block;
  color: #555;
  text-align: center;
  padding: 15px 25px;
  border: 1px solid transparent;
}

.tabs_labels:hover {
  color: DarkBlue;
  cursor: pointer;
}

.tabs_inputs:checked + .tabs_labels {
  color: Black;
  border: 0px solid #ddd;
  border-top: 3px solid DarkBlue;
  border-bottom: 1px solid #fff;
}

#input_tab1:checked ~ #tabs_content1,
#input_tab2:checked ~ #tabs_content2,
#input_tab3:checked ~ #tabs_content3,
#input_tab4:checked ~ #tabs_content4,
#input_tab5:checked ~ #tabs_content5,
#input_tab6:checked ~ #tabs_content6,
#input_tab7:checked ~ #tabs_content7{
  display: block;
}

/* ------------------------------------- Connection Indicators : On/Off Switches ---------------------------------- */
.onoffswitch {
    position: relative;
    width: 150px;
    float: left;
    margin: 10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: help;
    border: 2px solid Black; border-radius: 5px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    padding-left: 13px;
    background-color: #31D613; color: #000000;
}
.onoffswitch-inner:after {
    padding-right: 13px;
    background-color: #F5BCA9; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 7.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 120px;
    border: 2px solid #999999; border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#inner_onoff_mes:before {
    content: "MES";
}

#inner_onoff_mes:after {
    content: "MES";
}

#inner_onoff_frobit:before {
    content: "Frobit CORE";
}

#inner_onoff_frobit:after {
    content: "Frobit CORE";
}


#inner_onoff_workcell:before {
    content: "Workcell CORE";
}

#inner_onoff_workcell:after {
    content: "Workcell CORE";
}


/* Auto-manual control switch */
.automanualswitch {
    position: relative;
    margin-left: 70px;
    width: 160px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.automanualswitch-checkbox {
    display: none;
}
.automanualswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #aaa; border-radius: 8px;
}
.automanualswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.automanualswitch-inner:before, .automanualswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.automanualswitch-inner:before {
    content: "AUTOMODE";
    padding-left: 10px;
    background-color: #339CFF; color: #000000;
}
.automanualswitch-inner:after {
    content: "MANUAL Control";
    padding-right: 10px;
    background-color: #ddd; color: #000000;
    text-align: right;
}
.automanualswitch-switch {
    display: block; width: 10px; margin: 10px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 126px;
    border: 2px solid #000000; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.automanualswitch-checkbox:checked + .automanualswitch-label .automanualswitch-inner {
    margin-left: 0;
}
.automanualswitch-checkbox:checked + .automanualswitch-label .automanualswitch-switch {
    right: 0px;
}

/* Belt turned manually on/off : switch */
.beltonoffswitch {
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.beltonoffswitch-checkbox {
    display: none;
}
.beltonoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #aaa; border-radius: 8px;
}
.beltonoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.beltonoffswitch-inner:before, .beltonoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.beltonoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    text-align: left;
    background-color: #3ADF00; color: #000000;
}
.beltonoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #DF0101; color: #000000;
    text-align: right;
}
.beltonoffswitch-switch {
    display: block; width: 5px; margin: 10px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 30px;
    border: 2px solid #000000; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.beltonoffswitch-checkbox:checked + .beltonoffswitch-label .beltonoffswitch-inner {
    margin-left: 0;
}
.beltonoffswitch-checkbox:checked + .beltonoffswitch-label .beltonoffswitch-switch {
    right: 0px;
}

/* Belt direction (forward, backwards) : switch */
.beltdirectionswitch {
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.beltdirectionswitch-checkbox {
    display: none;
}
.beltdirectionswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #aaa; border-radius: 8px;
}
.beltdirectionswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.beltdirectionswitch-inner:before, .beltdirectionswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.beltdirectionswitch-inner:before {
    content: "forward";
    padding-left: 10px;
    text-align: left;
    background-color: #ccc; color: #000000;
}
.beltdirectionswitch-inner:after {
    content: "backwards";
    padding-right: 10px;
    background-color: #ccc; color: #000000;
    text-align: right;
}
.beltdirectionswitch-switch {
    display: block; width: 5px; margin: 10px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 80px;
    border: 2px solid #000000; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.beltdirectionswitch-checkbox:checked + .beltdirectionswitch-label .beltdirectionswitch-inner {
    margin-left: 0;
}
.beltdirectionswitch-checkbox:checked + .beltdirectionswitch-label .beltdirectionswitch-switch {
    right: 0px;
}

/* Belt speed (slow, fast) : switch */
.beltspeedswitch {
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.beltspeedswitch-checkbox {
    display: none;
}
.beltspeedswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #aaa; border-radius: 8px;
}
.beltspeedswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.beltspeedswitch-inner:before, .beltspeedswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.beltspeedswitch-inner:before {
    content: "snail";
    padding-left: 10px;
    text-align: left;
    background-color: #ccc; color: #000000;
}
.beltspeedswitch-inner:after {
    content: "rabbit";
    padding-right: 10px;
    background-color: #ccc; color: #000000;
    text-align: right;
}
.beltspeedswitch-switch {
    display: block; width: 5px; margin: 10px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 60px;
    border: 2px solid #000000; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.beltspeedswitch-checkbox:checked + .beltspeedswitch-label .beltspeedswitch-inner {
    margin-left: 0;
}
.beltspeedswitch-checkbox:checked + .beltspeedswitch-label .beltspeedswitch-switch {
    right: 0px;
}

/* Radio buttons for MES */

/* hide input */
.mes_rb_input:empty {
    margin-left: -999px;
}

/* style label */
.mes_rb_input:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mes_rb_input:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
.mes_rb_input:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.mes_rb_input:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
.mes_rb_input:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

.mes_rb_input:checked ~ label {
    color: DarkGreen;
    font-weight: bold;
}

/* radio focus */
.mes_rb_input:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}